.menu {
    height: 100px;
    width: 100px;
    color: white;
    background-color: rgba(255, 238, 0, 0.555);
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 10vw;
    margin-top: 10vw;
    border-radius: 50%;
    background-image: url(../img/home.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: alias;
}

.menu-abierto {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 1%;
    background-color: rgba(0, 0, 0, 0.671);
}

.opc {
    display: none;
    border-radius: 2%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50%;
    width: 50%;
    background-color: rgb(252, 247, 0);
    text-align: center;
    padding: 1vw;
    overflow-y: scroll;
    animation-duration: 1s;
    animation-name: slidein;
}
.opc h1{
    margin-bottom: 10px;
}
.opc a {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-bottom: 10px;
}
.opc hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

@keyframes slidein {
    from {
        height: 0%;
        width: 0%;
    }
    to {
        height: 50%;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .menu {
        height: 80px;
        width: 80px;
        background-color: rgba(255, 255, 255, 0.151);
    }
}