html {}

body {
    /*
     padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    */
    padding: 0px;
    margin: 0px;
}

.hero {
    height: 100%;
    width: 100%;
}

.hero-head {}

.hero-body {
    height: auto;
    width: 100%;
    padding: 0px;
}

.columns {
    padding: 0px;
    margin: 0px;
    height: auto;
    width: auto;
}

.column {
    padding: 0px;
    margin: 0px;
    height: auto;
}

.hero-section {
    width: auto;
    height: auto;
    background-color: seagreen;
}

.centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centrar-full {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m {
    border: 3px solid red;
}